.Footer p {
	color: white;
	position: absolute;
	bottom: 0;
	padding: 10px 0;
	text-align: center;
	width: 100%;
}

.Footer .open-source {
	color: whitesmoke;
	text-decoration: underline;
	padding: 0 0.1em;
}

.Footer .open-source:hover {
	color: black;
}

/* Responsive Design */

@media (max-width: 600px) {
	.Footer .author-credits {
		display: none;
	}
}
