.Header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 0;
}

.Header a h3,
a {
	margin: 0;
	text-decoration: none;
	letter-spacing: 1px;
}

.Header h3:hover {
	transform: scale(1.1);
	padding: 0 0.1em;
}

.Header .nav-link {
	text-decoration: none;
	padding: 0 10px;
	text-transform: uppercase;
	color: white;
}

.Header .nav-link:hover {
	color: black;
}
